div.background-gif-new_car {
  background-image: url("https://media.giphy.com/media/KqvkDsQ286cZI3G4PE/giphy.gif"), linear-gradient(to bottom, rgb(0, 21, 35), rgb(8, 45, 71) 60%, rgb(77, 84, 89));
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
}
