// Specific CSS for your home-page

#youngtimer{
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}


body.d-flex.flex-column {
  display: flex;
  background-image: url("https://media.giphy.com/media/KqvkDsQ286cZI3G4PE/giphy.gif"), linear-gradient(to bottom, rgb(0, 21, 35), rgb(8, 45, 71) 50%, rgb(77, 84, 89));
  background-size: 50%;
}
