// Specific CSS for your home-page

#youngtimer{
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

#commentaires{
  font-size: 15px;
  color: #f6e8a8f9;
  h2 {
    font-size: 20px;
    font-style: italic;
    color: #facd06ea;
  }
}
