.navbar-lewagon {
  justify-content: space-between;
  background: rgb(0, 21, 35);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
}

.navbar-lewagon .nav-link {
  color: white;
  font-size: larger;
}

.navbar-brand {
  padding: 0%;
}
