.navbar-lewagon {
  justify-content: space-between;
  background: linear-gradient(to right, rgb(0, 21, 35), rgb(8, 45, 71) 50%, rgb(77, 84, 89));
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
}

.navbar-lewagon h2 {
  color: #FACF06;
  font-size: smaller;
  text-align: center;
  position: relative;
  top: -10px;
}

.navbar-lewagon .nav-link {
  color: #FACF06;
  font-family: 'Popins', sans-serif;
  font-size: 14px;
  border-radius: 20px;
  margin-right: 10px;
  border: 2px solid #FACF06;
  width: 150px;
  text-align: center;
  &:hover {
    color: #FACF06;
    background-color: rgb(2, 82, 135);
    border: 1px solid #FACF06;
  }
}

#accueil{
  color: #FACF06;
  font-size: 12 px;
  border-radius: 2 px #FACF06;
}

#messages{
  color: #FACF06;
  font-size: 12 px;
  border-radius: 2 px #FACF06;
}

#reserver-voiture {
  color: #FACF06;
  font-size: 12 px;
  border-radius: 2 px #FACF06;
}

#create-offer {
  color: #FACF06;
  font-size: 12 px;
  border-radius: 2 px #FACF06;
}

.navbar-brand {
  padding: 0%;
}

#bookings-index {
  color: #FACF06;
  font-size: 12 px;
  border-radius: 2 px #FACF06;
}
