// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  color: white;
}

::-webkit-scrollbar {
  display: none;
}

.background {
  background: linear-gradient(to bottom, rgb(0, 21, 35), rgb(8, 45, 71) 50%, rgb(77, 84, 89));
  background-size: cover;
  min-height: 100vh!important;
  width: 100vw;
}

div.card {
  color : black;
}
