<div class="background">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(https://res.cloudinary.com/dgpvqvm0e/image/upload/v1669370425/Capture_d_%C3%A9cran_2022-11-25_105955_iqcown.png);">
    <div class="container", style="color: #FACF06; font-size: 25px; text-align: center">
      <h1 class="accroche", style="font-size: 30px; font-weight: bold; text-align: center">C'est dans les vieux pots qu'on fait la meilleure méca<i>nique</i> </h1>
      <p>Envie de louer la voiture qui vous faisait rêver étant jeune ? Faites-le en 3 clics !</p>
    </div>
  </div>
  <div class = "after-banner">
    <img src="https://res.cloudinary.com/dgpvqvm0e/image/upload/v1669290120/youngtimer_3_kicszk.png",
    alt="youngtimer" style="width:35%", id="youngtimer">
    <div  id ="commentaires">
      <h2>"La meilleure plateforme de location pour une youngtimer !"</h2>
      <p>- Vilebrequin ⭐⭐⭐⭐⭐</p>
      <h2>"C'est aberrant comme site frérow !"</h2>
      <p>- GMK ⭐⭐⭐</p>
    </div>
  </div>
</div>
