<div class="background">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(https://res.cloudinary.com/dgpvqvm0e/image/upload/v1669370425/Capture_d_%C3%A9cran_2022-11-25_105955_iqcown.png);">
    <div class="container">
      <h1>C'est dans les vieux pots qu'on fait <strong>la meilleure méca<i>nique</i></strong> !</h1>
      <p>Envie de louer le temps d'une journée la voiture qui vous faisait rêver étant jeune ? Vous êtes au bon endroit !</p>
    </div>
  </div>
  <div class = "after-banner">
    <img src="https://res.cloudinary.com/dgpvqvm0e/image/upload/v1669290120/youngtimer_3_kicszk.png",
    alt="youngtimer" style="width:35%", id="youngtimer">
    <div>
      <h2><i>"La meilleure plateforme de location pour une youngtimer !"</i></h2>
      <p>- Villebrequin ⭐⭐⭐⭐⭐</p>
      <h2><i>"C'est aberrant comme site frérow !"</i></h2>
      <p>- GMK ⭐⭐⭐</p>
    </div>
  </div>
</div>
