
<h1 class = "text-center", style = "color: #FACF06"> Parce que c'est dans les vieux pots <br> qu'on fait la meilleure mécanique </h1>
 <div>
  <img src="https://res.cloudinary.com/dgpvqvm0e/image/upload/v1669290120/youngtimer_3_kicszk.png",
  alt="youngtimer" style="width:35%", align="center", id="youngtimer">
</div>
