<div class="background">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
    <div class="container">
      <h1>C'est dans les vieux pots qu'on fait <strong>la meilleure mécanique</strong>!</h1>
      <p>Envie de louer le temps d'une journée la voiture qui vous faisait rêver étant jeune ? Vous êtes au bon endroit !</p>
      <a class="btn btn-flat" href="#">Apply now</a>
    </div>
  </div>
</div>




<%# 
<h1 class = "text-center", style = "color: #FACF06"> C'est dans les vieux pots qu'on fait la meilleure mécanique </h1>
<div>
  <img src="https://res.cloudinary.com/dgpvqvm0e/image/upload/v1669290120/youngtimer_3_kicszk.png",
  alt="youngtimer" style="width:35%", id="youngtimer">
</div> %>
