<div class="container">
    <div class="card mb-3">
      <img class="card-img-top" src="https://picsum.photos/1179/300" alt="Card image cap">
      <div class="card-body" style="display: flex;flex-direction: column;">
        <h5 class="card-title">Lancia - djkfb (1972)</h5>
        <p class="card-text">oirhze</p>
        <button class="card-text">Réserver</button><p class="card-text"><small class="text-muted">Published on 23-11-2022</small></p>
      </div>
    </div>
</div>
